.especializacao {
    width: 100vw;
    height: 400px;
    position: relative;
    background-color: #0a1649;
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media screen and (max-width: 1088.5px) {
        height: auto;
    }

    .bg-especializacao {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../public/fundo.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.5;
        z-index: 2;   

       
    }

    .container-especializacao {
        width: 100%;
        height: 400px;
        background-color: rgba(0, 255, 255, 0);
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 3;

        @media screen and (max-width: 1088.5px) {
            height: auto;
            padding: 20px 0px;
            gap: 30px;
        }  

        @media screen and (max-width: 940.5px) {
            gap: 40px;
        }

        h2 {
            font-family: 'Jost',sans-serif;
            font-size: 1.8rem;
            color: #fff;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;

            @media screen and (min-width: 350px) {
                font-size: 1.8rem;
            }

            @media screen and (min-width: 430px) {
                font-size: 2.2rem;
            }

            @media screen and (min-width: 700px) {
                font-size: 3rem;
            }

            @media screen and (min-width: 860px) {
                font-size: 3.5rem;
            }
        }

        .imgs-especializacao {
            width: 100%;
            height: 100%;
            

            ul {
                width: 80%;
                max-width: 1200px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                margin: 0 auto;
                //background-color: aqua;

                @media screen and (max-width: 1088.5px) {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    gap: 35px;
                    justify-items: center;
                    height: auto;
                }

                @media screen and (max-width: 598.5px) {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    grid-template-columns: 1fr ;
                    justify-items: center;
                }

                

                li {
                    width: 270px;
                    height: 150px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 1190.5px) {
                        width: 200px;
                        height: 120px;
                    }

                    @media screen and (max-width: 1088.5px) {
                        width: 310px;
                        height: 160px;
                    }

                    @media screen and (max-width: 940.5px) {
                        width: 260px;
                        height: 140px;
                    }

                    @media screen and (max-width: 696.5px) {
                        height: 140px;
                        width: 240px;
                    }

                    @media screen and (max-width: 645.5px) {
                        width: 220px;
                        height: 140px;
                    }
                    
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }

                    .philips {
                        height: 80%;
                        width: 80%;
                    }
                }
            }
        }
    }
}