.conheca {
    width: 100vw;
    height: 600px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    

    .container-conheca {
        width: 100%;
        max-width: 1400px;
        height: 600px;
        box-sizing: border-box;
        display: flex;
        gap: 10px;

        .conheca-txt {
            width: 60%;
            height: 100%;
            box-sizing: border-box;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;

            .h2-contain {
                width: 100%;
                max-width: 1400px;
                height: auto;
                
        
                h2 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 2.3rem;
                    color: rgb(27, 59, 201);
                    font-weight: 600;
                }
            }

            .space {
                margin-top: 60px;
            }

            p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.4rem;
                color: rgb(53, 52, 52);
            }

            .p-txt {
                margin-top: 30px;
            }
        }

        .conheca-img {
            height: 100%;
            width: 50%;
            background-color: black;
        }
    }
}