.cards {
    width: 100vw;
    height: 1170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    
    @media screen and (max-width: 1128.5px) {
        height: 1600px;
    }

    @media screen and (max-width: 743.5px) {
        height: 2950px;
    }

    .card-h2{
        margin-top: 80px;
        width: 80%;
        max-width: 1200px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 737.5px) {
            flex-direction: column;
            gap: 27px;
        }

        @media screen and (max-width: 545.5px) {
            width: auto;
        }


        h2{
            color: #0a1649;
            font-family: 'Jost', sans-serif;
            font-size: 3rem;
            font-weight: 600;

            @media screen and (max-width: 1128.5px) {
                font-size: 2.4rem;
            }

            @media screen and (max-width: 850.5px) {
                font-size: 2.2rem;
            }

            @media screen and (max-width: 816.5px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 737.5px) {
                font-size: 2.2rem;
            }

            @media screen and (max-width: 545.5px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 499.5px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 333.5px) {
                font-size: 1.4rem;
            }

            @media screen and (max-width: 289.5px) {
                font-size: 1.32rem;
            }


        }

        .card-btn{
            width: 255px;
            height: 48px;
            background-color: #0a1649;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 30px;
            cursor: pointer;

            @media screen and (max-width: 1128.5px) {
                width: 200px;
            }

            @media screen and (max-width: 816.5px) {
                width: 175px;
            }

            @media screen and (max-width: 737.5px) {
                justify-content: space-around;
                width: 170px;
                padding: 0px 8px;
                gap: 0px;
            }

            @media screen and (max-width: 499.5px) {
                width: 120px;
                padding-right: 0px;
                gap: 6px;
                padding-left: 20px;
            }

            @media screen and (max-width: 395.5px) {
                
                gap: 8px;
                
            }

            @media screen and (max-width: 333.5px) {
                width: 110px;
            }

            

            &:hover{
                background-color: #0a1649e1;
            }

            img{
                width: auto;
                height: 14px;
                animation: card-arrow 2s infinite;


                @media screen and (max-width: 737.5px) {
                    height: 10px;
                }

                @media screen and (max-width: 499.5px) {
                    height: 8px;
                }
    
            }

            p{
                color: #fff;
                font-family: 'Jost', sans-serif;
                font-weight: 600;
                font-size: 1.1em;
                line-height: normal;

                @media screen and (max-width: 1128.5px) {
                    font-size: 0.8rem;
                }

                @media screen and (max-width: 816.5px) {
                    font-size: 0.6rem;
                }

                @media screen and (max-width: 737.5px) {
                    font-size: 0.77rem;
                }

                @media screen and (max-width: 401.5px) {
                    font-size: 0.6rem;
                }

                
    
            }
        }
    }

    .container-cards {
        width: 80%;
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5%;
        row-gap: 5%;
        padding-top: 5%;

        @media screen and (max-width: 1128.5px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
            row-gap: 3%;
        }

        @media screen and (max-width: 743.5px) {
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .card {
            width: 100%;
            height: 420px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            border-radius: 6px;
            position: relative;
            background-color: #fff;

            @media screen and (max-width: 1299.5px) {
                width: 90%;
            }

            @media screen and (max-width: 743.5px) {
                width: 70vw;
                height: 380px;
            }

            @media screen and (max-width: 445.5px) {
                width: 80vw;
            }

           .card-agua{
                width: 32px;
                height: auto;
                position: absolute;
                bottom: 10px;
                right: 0;
                opacity: 0.4;

                @media screen and (max-width: 292.5px) {
                    height: 20px;
                    width: 20px;
                }
           }

            .img-cards {
                height: 40%;
                width: 100%;
                overflow: hidden;
                border-radius: 6px 6px 0 0;

                @media screen and (min-width: 744px) {
                    height: 50%;
                }
                
                .img-wrapper{
                    width: 100%;
                    height: 100%;

                    &:hover{
                        transform: scale(1.1);
                        transition: .6s;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        object-fit: cover;
                    }
                }
            }

            .title-card {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border-left: 4px solid #0a1649;
                margin-top: 10px;
                transition: color 0.5s ease;  
                
                
                
                &:hover {
                    transition: 0.5s;
                    border-color: #A5B4CD;
                }

                h3 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    font-family: 'Inter', sans-serif;
                    margin-top: 5px;
                    color: #0a1649; 

                    @media screen and (max-width: 1299.5px) {
                        font-size: 1.4rem;
                    }

                    @media screen and (max-width: 1183.5px) {
                        font-size: 1.3rem;
                    }

                    @media screen and (max-width: 445.5px) {
                        font-size: 1rem;
                    }

                    @media screen and (max-width: 301.5px) {
                        font-size: 0.75rem; 
                    }

                    &:hover {
                        transition: 0.5s;
                        color: #A5B4CD;
                    }
                }
            }

            .text-card {
                width: 80%;
                height: auto;
                margin: 0 auto;

                p {
                    font-family: 'Inter', sans-serif;
                    margin-top: 30px;
                    font-size: 1rem;
                    text-align: justify;
                    font-weight: 300;
                    line-height: 21px;

                    @media screen and (max-width: 1299.5px) {
                        font-size: 0.95rem;
                    }

                    @media screen and (max-width: 445.5px) {
                       font-size: 0.8rem; 
                    }

                    @media screen and (max-width: 301.5px) {
                        font-size: 0.7rem; 
                    }
                }
            }
        }
    }
}